{% extends 'partials/base.html' %}
{% block title %}Delete page{% endblock %}

{% block content%}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Delete Item</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>Are your sure you want to delete?</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <a class="btn btn-secondary" href="{% url 'dashboard-product' %}">Cancel</a>
                        <input type="submit" value="confirm" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}